<div class="row">
  <div class="col-3 listselect ">
    <select class="custom-select " (selectionChange)="filterhotel($event.value)" >
    <option *ngFor="let h of hotels " [value]="h.id"> {{h.name}}
      </option>

    </select>
  </div>
  <div class="col-3 listselect  ">
    <select class="custom-select" (selectionChange)="filterCategory($event.value)">
      <option *ngFor="let type of category " [value]="type.RoomCategoryTypeId " > 
        {{type.RoomCategoryTypeLbl}}
    </select>
  </div>
  <div class="col-3 listselect " *ngIf =" !(isvalid )"  >
    <select class="custom-select">
        <option *ngFor="let category of typeRoom  "> 
            {{category.RoomCategoryName }}
    </select>
  </div>
  <div class="col-3 ">
    <span class="right_icon"><i class="fa fa-plus"></i> &nbsp; <i class="fa fa-download"></i>&nbsp; <i class="fa fa-refresh"></i></span>
  </div>
  <router-outlet></router-outlet>
</div>
