

    <div class="card" style="width:160px ;height: 200px; background-color:deepskyblue; ">
        <div class="card-body textcolor ">

            <h6 class="card-title">Séjour j-1 <span class="left_icon"> <i><a routerlink="#"
                            class="fa fa-search "></a></i> &nbsp;<i><a class="fa fa-times"></a> </i></span></h6>
            <hr>
            <div>
            <h6 class="card-subtitle m-4 "> {{value0}} </h6>&nbsp; &nbsp;<i><img src="assets/images/DXR_1.png"></i>
          
            <h6 class="card-subtitle m-4 ">{{value1}}</h6>

            <h6 class="card-subtitle mb-2 left_icon">{{value2}}</h6>
        </div>
        </div>
    </div>




