

    <div class="card" style="width:160px ;height: 200px; background-color:deepskyblue; ">
        <div class="card-body textcolor ">

            <h6 class="card-title">Séjour j-1 <span class="left_icon"> <i><a routerlink="#"
                            class="fa fa-search "></a></i> &nbsp;<i><a class="fa fa-times"></a> </i></span></h6>
            <hr>
            <div *ngFor ngFor="let i of cardData ">
            <h6 class="card-subtitle m-4 "> {{i.value}} </h6>&nbsp; &nbsp;<i><img src="assets/images/DXR_1.png"></i>
          
            <h6 class="card-subtitle m-4 ">{{cardData[1].value}}</h6>

            <h6 class="card-subtitle mb-2 left_icon">{{cardData[2].value}}</h6>
        </div>
        </div>
    </div>
<!-- &nbsp;
<div clas="column">
    <div class="card " style="width:160px ;height: 200px; background-color:deepskyblue; ">
        <div class="card-body textcolor ">

            <h6 class="card-title"> Cumul Séjour-1<span class="left_icon"> <i><a routerlink="#" 
                class="fa fa-search "></a></i> &nbsp;<i><a class="fa fa-times"></a> </i></span></h6>
            <hr>
            <h6 class="card-subtitle m-4 ">40% &nbsp; &nbsp;<i><img src="assets/images/DXR_1.png"></i></h6>
            <h6 class="card-subtitle m-4 ">5</h6>

            <h6 class="card-subtitle mb-2 left_icon">7</h6>

        </div>
    </div>
</div>
&nbsp; -->
<!-- <div clas="column">
        <div class="card " style="width:160px ;height: 200px; background-color:rgb(101, 186, 235); ">
            <div class="card-body textcolor ">
    
                <h6 class="card-title"> nuits-1<span class="left_icon"> <i><a routerlink="#" 
                    class="fa fa-search "></a></i> &nbsp;<i><a class="fa fa-times"></a> </i></span></h6>
                <hr>
                <h6 class="card-subtitle m-4 ">40% &nbsp; &nbsp;<i><img src="assets/images/DXR_-1.png"></i></h6>
                <h6 class="card-subtitle m-4 ">5</h6>
    
                <h6 class="card-subtitle mb-2 left_icon">7</h6>
    
            </div>
        </div>
    </div>
    &nbsp;
    <div clas="column">
            <div class="card " style="width:160px ;height: 200px; background-color:rgb(101, 186, 235); ">
                <div class="card-body textcolor ">
        
                    <h6 class="card-title"> Cumul nuits-1<span class="left_icon"> <i><a routerlink="#" 
                        class="fa fa-search "></a></i> &nbsp;<i><a class="fa fa-times"></a> </i></span></h6>
                    <hr>
                    <h6 class="card-subtitle m-4 ">100% &nbsp; &nbsp;<i><img src="assets/images/DXR_-1.png"></i></h6>
                    <h6 class="card-subtitle m-4 ">0</h6>
        
                    <h6 class="card-subtitle mb-2 left_icon">7</h6>
        
                </div>
            </div>
        </div>
        &nbsp;
        <div clas="column">
                <div class="card " style="width:160px ;height: 200px; background-color:rgb(52, 214, 66); ">
                    <div class="card-body textcolor ">
            
                        <h6 class="card-title"> CA<span class="left_icon"> <i><a routerlink="#" 
                            class="fa fa-search "></a></i> &nbsp;<i><a class="fa fa-times"></a> </i></span></h6>
                        <hr>
                        <h6 class="card-subtitle m-4 ">40% &nbsp; &nbsp;<i><img src="assets/images/DXR_0.png"></i></h6>
                        <h6 class="card-subtitle m-4 ">5</h6>
            
                        <h6 class="card-subtitle mb-2 left_icon">7</h6>
            
                    </div>
                </div>
            </div>
            &nbsp;
            <div clas="column">
                    <div class="card " style="width:160px ;height: 200px; background-color:rgb(52, 214, 66); ">
                        <div class="card-body textcolor ">
                
                            <h6 class="card-title"> CA Cumul<span class="left_icon"> <i><a routerlink="#" 
                                class="fa fa-search "></a></i> &nbsp;<i><a class="fa fa-times"></a> </i></span></h6>
                            <hr>
                            <h6 class="card-subtitle m-4 ">40% &nbsp; &nbsp;<i><img src="assets/images/DXR_0.png"></i></h6>
                            <h6 class="card-subtitle m-4 ">5</h6>
                
                            <h6 class="card-subtitle mb-2 left_icon">7</h6>
                
                        </div>
                    </div>
                </div> -->



