<head>
    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
  
    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel='stylesheet' type='text/css' />
  
    <!-- font-awesome icons CSS -->
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS-->
  
    <!-- side nav css file -->
    <link href='assets/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- //side nav css file -->
  
    <!-- js-->
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>
  
    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
      rel="stylesheet">
    <!--//webfonts-->
  
    <!-- chart -->
    <script src="assets/js/Chart.js"></script>
    <!-- //chart -->
  
    <!-- Metis Menu -->
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <link href="assets/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
  </head>
  
<div class="main-content">
    <!-- header-starts -->
    <div>

        <div>
            <!--toggle button end-->
            <div class="bg-darkblue ">
                <nav class="navbar navbar-expand-lg   static-top">
                    <div class="container">
                        <div>
                            <a class="navbar-brand" href="#">
                                <img src="assets/images/logo.png" alt="logo" class="logo">
                            </a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navleft">
                            <div class="collapse navbar-collapse " id="navbarResponsive">
                                <ul class="navbar-nav mr-auto navleft ">
                                    <li class="nav-item active ">
                                        <a class="nav-link textcolor" routerlink='vente'>Vente
                                            <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active ">
                                        <a class="nav-link textcolor" [routerLink]="'/qualite'"  routerLinkActive="active"  (click)=" show()">Qualité

                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link  textcolor" href='#' id="navbarDropdown" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-cog"></i> </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" [routerLink]="'/pwd'"><i
                                                    class=" fa fa-cog"></i>Settings</a>
                                            <a class="dropdown-item" [routerLink]="'/reset'"> <i
                                                    class="fa fa-refresh"></i>
                                                Réinitialisation</a>
                                            <a class="dropdown-item" [routerLink]="'/users'"><i class="fa fa-user"></i>
                                                Users</a>
                                            <a class="dropdown-item" [routerLink]="'/profils'"><i
                                                    class="fa fa-sign-out"></i> Profils</a>
                                        </div>

                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link fa fa-sign-out textcolor" [routerLink]="'/home'"></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </nav>
                <router-outlet></router-outlet>
            </div>

        </div>

    </div>
</div>