$font-family: 'Source Sans Pro';
$font-family-filesname: SourceSansProLight;
@font-face {
	@include font-face($font-family-filesname, 300);
}
$font-family-filesname: SourceSansProRegular;
@font-face {
	@include font-face($font-family-filesname, 400);
}
$font-family-filesname: SourceSansProSemiBold;
@font-face {
	@include font-face($font-family-filesname, 500);
}
$font-family-filesname: SourceSansProBold;
@font-face {
	@include font-face($font-family-filesname, 600);
}
