.relative{
	position: relative;
}
.side{
	position: absolute;	
	@each $lateralside in $lateralsides{
		@each $side in $sides{
			&-#{$side}-#{$lateralside}{
				@extend .side;
				#{$side}: 0;
	    		#{$lateralside}: 0;
			}
			&-#{$side}-center{
				@extend .side;
			    #{$side}: 0;
			    left: 0;
			    right: 0;
			    margin: auto;
			}
		}
		&-center-#{$lateralside}{
			@extend .side;
		    #{$lateralside}: 0;
		    bottom: 0;
		    top: 0;
		    margin: auto;
	        height: fit-content;
	        height: -moz-fit-content;
	        display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&-fixed{
		position: fixed;	
	}
}
.side-center, .side-center-center{
	@extend .side;
	left: 0;
	right: 0;
	bottom: 0;
    top: 0;
	margin: auto;
    height: fit-content;
    height: -moz-fit-content;
    width: fit-content;
    display: flex;
	align-items: center;
	justify-content: center;
}
.pos-center{
	@extend .side;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.pos-right{
	margin-left: auto
}