// size
$prs: ();
@for $i from 1 through 10{
	$pxs: append($prs, $i * 10%);
	.c-#{$i}{
		width: nth($pxs, 1);
	};
	@include mq('tablet-wide' , max){
		body .c-md-#{$i}{
			width: nth($pxs, 1);
		};
 	}
	@include mq('tablet' , max){
		html body .c-sm-#{$i}{
			width: nth($pxs, 1);
		};
 	}
 	@include mq('phablet' , max){
		html body .c-xs-#{$i}{
			width: nth($pxs, 1);
		};
 	}
}