//font family
$font-basic-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family: 'Source Sans Pro';
$font-family-filesname: 'SourceSansProRegular';

// fonts size
$font-basic-size: 16px;
$font-h1: 75px;
$font-h2: 62px;
$font-h3: 40px;
$font-h4: 30px;
$font-h5: 20px;
$font-h6: 14px;
$font-p: 13px;
$font-small: 12px;
$font-label-login: 22px;
$font-label-login-hover: 18px;

//font color
$font-basic-color: #515252;
$font-default-color: #4d4d4d;

//basic colors
$default-color: #515252; //default grey color
$basic-color: #3c8dbc; //basic green color
$basic-blend-color: lighten( desaturate( adjust-hue( $basic-color, -1deg ), 34 ), 38 ); //basic lighten green color 
$basic-background: #edebea; //basic lighten grey color
$grey-background: #f2f2f2; //dropdown + calendar

//table colors
$table-border-color: #e0dcd5;
$table-background-header: #eae9e9;
$table-border-header-color: #f2f2f2;
$table-cell-border: #ece8e1;
$table-color-text-header: #58534a;

// grouped element & inputs
$group-background: #f6f5f5; 
$border-color:#cecdcc;

//calendar
$grey-color: #dddddd; //daken grey (bg calendar)
$calendar-color: #f9f8f5;// background calendar table
$calendar-border-color: #d5d9e2;// border calendar table
$font-calendar-head-color:#707586;// head font calendar table


//colors
$black-color: #000000;
$white-color: #ffffff;
$error-color: #dd4b39;
$success-color: #c3e6cb;
$warning-color: #f5c6cb;
$light-beige: #f8f9fa ;
$red-color: #ff4141;
$green-color: #92c50f;
$orange-color:#fe8f0c;
$dark-grey: #787878;
$blend-grey: #ecf0f5;
$blue-color:#0db9f0;
$darkblue-color:#3c8dbc;
$aqua-color:#309dcf;
$yellow-color:#fba620;
$modal-close-color: #e34f55;
$purple-color: #B39EB5; //icon grid color
$shadow-menu-color: #888888;
$hover-menu: #f5f5f5;
$drop-down-background: #f7f5f2;
$label-placeholder-color: #999999;
$table-pinned-color: #efefef;
$table-pinned-border-color: #d6d6d6;
$colors: (
  red        : $red-color,
  orange     : $orange-color,
  green      : $green-color,
  blue       : $blue-color,
  darkblue   : $darkblue-color,
  purple     : $purple-color,
  grey	 	 : $blend-grey,
  white	 	 : $white-color,
  black	 	 : $black-color,
  aqua	 	 : $aqua-color,
  yellow 	 : $yellow-color
);
//size
$null: 0;
$full: 100%;
$half: 50%;
$third: 100/3 + %;
$full-height: 100vh;

//icon size
$small-icon: 15px;
$medium-icon: 22px;
$close-icon: 30px;
$logo-width: 60px;
$logo-width-tablet: 44px;
$logo-width-mobile: 44px;
$logo-height: 161px;
$spinner-width: 90px;

//space elements
$header-height: 40px;
$content-right-space: $logo-width/2;
$content-right-space-tablet: $logo-width-mobile/2;
$content-space-mobile: 15px;
$padding-spaces: 4px 7px;
$space-modal-header: 8px 7px;
$space-modal-body: 50px;
$textarea-height: 78px;
$input-pager-height: 25px;
$filter-input-height: 21px;
$cell-height: 25px;
$button-login-width: 120px;
$section-height-quotation: calc(#{$full-height} - (206px + 8rem)); //sectionheight
$grid-height-quotation: calc(#{$full-height} - (249px + 9rem)) !important; //gridheight 

//calendar
$calendar-arrows: 22px;
$calendar-button-size: 48px;
$calendar-button-size-mobile: 40px;
$calendar-height: 216px;
$calendar-date-size: 22px;
$calendar-button-space: -9%;
$calendar-input-height: 32px;
//card
$card-arrows: 28px;
$card-arrows-tablet: 15px;
$card-height: 105px;
$card-margin: 0;
$card-padding: 0;
$card-content-height: $card-height + ($card-margin * 2);
$card-inner-height:  $card-height - ($card-padding * 2);
$card-radius: 12px;
$card-font-h1: 3.2vw;
$card-font-h2: 62px;
$card-font-h3: 30px;
$card-font-h4: 25px;
$card-font-h5: 20px;
$card-font-h6: 14px;
$card-font-p: 13px;
$card-height-container: calc(100% - 30px);
$mobile-card-height: 220px;
$height-item: 155px;
$window-content-height: calc(100vh - 100px - 2rem );
$grid-content-height: calc(100vh - 110px - 2rem );
//graph height
$graph-height: calc(100vh - 332px);

//menu
$menu-icon: 25px;
$menu-dropdown-width: 160px;
$position-left-menu: -75px;

//line height
$lh-icon: 15px;
$lh-radio-button: 10px;
$lh-checkbox-button: 15px;


$input-height: 28px;
$radio-checkbox: 16px;


//radius
$radius-group: 20px;
$radius-button: 3px;
$radius-checkbox: 8px;


//path
$assetPath : "../img";
$assetIcon : "../img/icones";
$font-path: "fonts";
$icon-font-path: $font-path;

//spaces
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); 
$spacesides: (top, bottom, left, right); 

// sides
$sides: top, bottom ;
$lateralsides: left, right;
$top: top;
$left: left;
$bottom: bottom;
$right: right;

//z index
$z-indexes: (
    "outdated-browser",
    "modal",
    "site-header",
    "page-wrapper",
    "site-footer"
);
//mediaquery
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet-s":     631px,
    "tablet":       768px,
    "tablet-wide":  1025px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
$breakpointsh: (
    "mobile":       400px,
    "tablet":       900px,
);
//loader 

$color-1: $blue-color;
$color-2: $green-color;
$color-3: $red-color;
$color-4: $orange-color;

$ball-size: 20px;
$jump: .75em;
$diam: 2 * $jump;

$duration: 1.2s;
