
//border radius
@mixin border-round($top, $left, $bottom, $right ){
    -moz-border-radius: $top $left $bottom $right;
    -webkit-border-radius: $top $left $bottom $right;
    border-radius: $top $left $bottom $right;
}
@mixin rounded($radius: $full) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
//borders
@mixin border-all($color, $width: 1px, $style: solid) {
    border-width: $width;
    border-style: $style;
    border-color: $color;
}
@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}
