@mixin font-face(
	$fontFamily: $font-family, 
	$weight: false,
	$style: false,
	$eotFileSrc: '#{$font-path}/#{$font-family-filesname}.eot', 
	$woffFileSrc: '#{$font-path}/#{$font-family-filesname}.woff', 
	$ttfFileSrc: '#{$font-path}/#{$font-family-filesname}.ttf', 
	$svgFileSrc: '#{$font-path}/#{$font-family-filesname}.svg', 
	$svgFontID: #{$font-family-filesname}
) {
	font-family: $font-family;
	src: url($eotFileSrc)  format('eot'),
	     url($woffFileSrc) format('woff'),
	     url($ttfFileSrc)  format('truetype'),
	     url($svgFileSrc + '#' +  $svgFontID) format('svg');
	@if $weight { font-weight: $weight; }
	@if $style { font-weight: $style; }
}

@mixin font-style($size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: $font-family;
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
	$responsive-unitless: $responsive / ($responsive - $responsive + 1);
	$dimension: if(unit($responsive) == 'vw', 'width', 'height');
	$min-breakpoint: $min / $responsive-unitless * 50;
	@media (max-#{$dimension}: #{$min-breakpoint}) {
	    font-size: $min;
	    line-height: $min;
	}
	@if $max {
		$max-breakpoint: $max / $responsive-unitless * 80;
		@media (min-#{$dimension}: #{$max-breakpoint}) {
			font-size: $max;
			line-height: $max;
		}
	}
	@if $fallback {
		font-size: $fallback;
		line-height: $fallback ;
	}
	font-size: $responsive;
	line-height: $responsive;
}

