
//gradient
@mixin linear-gradient($posstart , $postop, $from, $to, $stop: $full) {
    background-color: $from;
    background-image: -moz-linear-gradient($posstart, $from 0%, $to $stop);
    background-image: -webkit-gradient(linear, $posstart top, $postop top, color-stop(0%, $from), color-stop($stop, $to));
    background-image: -webkit-linear-gradient($posstart, $from 0%, $to $stop);
    background-image: -o-linear-gradient($posstart, $from 0%, $to $stop);
    background: -ms-linear-gradient($posstart, $from 0%, $to $stop);
    background: linear-gradient(to $postop, $from 0%, $to $stop);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=1 );
}

@mixin radial-gradient($from, $to, $posstart:0% , $postop:100%) {
	background: -moz-radial-gradient(center, circle cover, $from $posstart, $to $postop);
	background: -webkit-gradient(radial, center center, 0px, center center, $postop, color-stop($posstart, $from), color-stop($postop, $to));
	background: -webkit-radial-gradient(center, circle cover, $from $posstart, $to $postop);
	background: -o-radial-gradient(center, circle cover, $from $posstart, $to $postop);
	background: -ms-radial-gradient(center, circle cover, $from $posstart, $to $postop);
	background: radial-gradient(center, circle cover, $from $posstart, $to $postop);
	background-color: $from;
}