//push auto
@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

@mixin push-auto {
    margin: { 
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
    }
}
