/* box */
//card structure
.card-widget {
	background: $default-color;
	width: $full;
	border-radius: $card-radius;
	padding: $card-padding;
	margin-top: $card-margin;
	margin-bottom: $card-margin;
	position: relative;
	min-height: $full;
	height: $full;
	color: $white-color;
	@include mq('tablet' , max){
    	height: $mobile-card-height;
    	min-height: $mobile-card-height;
 	}
 	
	li &{
		margin-top: $null;
	}
	&-content{
		color: $white-color;
		position: relative;
		display: block;
	    height: $full;
	    width: $full;
	    min-height:  $full;
	    //font-size: fontsize($card-font-h5);
	    //line-height: fontsize($card-font-h5);
		//@include responsive-font(2.2vw, 22px, 35px);
		font-size: 2.2vw;
		line-height: 2.2vw;
		[data-sizex="colspan-1"] &{
			//@include responsive-font(1.6vw * 0.8, 20px * 0.8, 70px * 0.8);
			font-size: 1.9vw;
			line-height: 1.9vw;
			@include mq('desktop' , max){
				[data-sizex="colspan-1"] &{
					font-size: 25px;
					line-height:25px;
				}
		 	}
		}
		@include mq('desktop-wide' , min){
			font-size: 24px;
			line-height: 24px;
			[data-sizex="colspan-1"] &{
				font-size: 20px;
				line-height:20px;
			}
	 	}
	 	
	 	@include mq('tablet' , max){
	 		font-size: 20px;
			line-height:20px;
			[data-sizex="colspan-1"] &{
				font-size: 20px;
				line-height:20px;
			}
	 	}
		.side-center, .side-center-left, .side-center-right{
			max-height: 50%;
		}
		.dashboard-widgetList &{
			div{
				color: $white-color;
			}
		}
	    @include mq('tablet-wide' , max){
	    	//font-size: $font-small;
    	    //height: 160px;
	 	}
	    &:hover{
	    	text-decoration: none;
    	}
	    div {
	    	//display: inline-block;
    	    text-align: center;
    	    @include mq('tablet-wide' , max){
		    	vertical-align: middle;
		 	}
     	}
	}
	&-title{
		font-size:  fontsize($font-h6);
		font-weight: 400;
		line-height: 14px;
		text-transform: uppercase;
	    margin: 0;
        min-height: 31px;
        border-radius: 12px 12px 0 0;
        background: rgba(0, 0, 0, 0.04);
    	border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    	cursor: move;
		h3{
			@include truncate(80%);
			font-size:  17px;
		    line-height: 24px;
			font-weight: 400;
			margin: 0;
			@include mq('tablet-wide' , max){
				@include truncate(70%);
		 	}
		 	[data-sizex="colspan-1"] &{
				@include truncate(63%);
			}
		}
		.glyphicon{
		    font-size: $font-basic-size;
		}
		@include mq('tablet-wide' , max){
	    	font-size: $font-small;
	 	}
	}
	small {
		font-size: 70%;
	    line-height: 70%;
	    vertical-align: baseline;
	}
	.side-bottom-left {
	    z-index: 1;
	}
	.height-container-card{
		height: $card-height-container;
	}
}
.analysisDateResa .card-widget-title {
    //border-color: rgba($black-color, 0.05);
}
// .analysisDateResa .card-widget-title {
//     border-color: #f9cd07;
//     border-width: 2px;
// }
// .analysisDateResa .card-widget-title:before{
// 	@include pseudo(inline-block, relative);
// 	@extend %booked;
//     width: 30px;
//     height: 28px;
//     z-index: 999;
// 	
// }
// .analysisDateOcc .card-widget-title {
//     border-color: #ec261f;
//     border-width: 2px;
// }
.analysisDateOcc .card-widget-title:after{
	@include pseudo();
}
.height-cards{
    height: calc(100% - 47px);
}
.card-tools{
	padding: 6px;
	&>a,&>div{
		display: inline-block;
		vertical-align: middle;
	    padding: 0 2px;
	}
}
.z-index-9{
	z-index: 9;
}
//colors
.dark-card{
	background: $default-color;
	a, .card-widget-title{
		color: $white-color;
	}
}
.light-card{
	background: $white-color;
	a, .card-widget-title{
		color: $default-color;
	}
}
.contentBoxes{
	height: 125px;
	min-height: fit-content;
	&.height-mobile-auto{
		@include mq('tablet-wide' , max){
			min-height: 125px;
		}
	}
}
.card-widget-height.gridster.gridster-desktop{
	max-height: 165px;
}
.content-item-height{
	max-height: $height-item;
	min-height: $height-item;
    position: relative;
	.item-height{
		max-height: $height-item - 20px;
		@include mq('tablet' , max){
	    	max-height: 180px;;
	 	}
	 	.card-widget{
			max-width: 770px;
		    margin: auto;
		    &-content {
				$size-max-vw:  25px;
				$size-min-vw:  18px;
				$size-vw:  2vw;
			    @include responsive-font($size-vw, $size-min-vw, $size-max-vw);
			}
			.font-h1 {
		    	$size-max-vw:  50px;
				$size-min-vw:  30px;
				$size-vw:  3.5vw;
			    @include responsive-font($size-vw, $size-min-vw, $size-max-vw);
			}
 		}
	}
}
.gridster-preview-holder, .gridster-item-moving{
    background: none !important;
}

.h-card-content{
	height: 190px;
	min-height: fit-content;
	$card-height: 115px;
	.card-widget {
		min-height: $card-height;
		.card-widget-content{
			min-height: $card-height - ($card-margin);
		}
	}
}
.gridster{
	.font-h1{
// 		@include mq('tablet-wide' , max){
// 		    font-size: 40px;
//     		line-height: 40px;
// 		}
		@include mq('desktop-wide' , min){
			
			[data-sizex="colspan-1"] &{
				font-size: 40px;
				line-height:40px;
			}
	 	}
	 	@include mq('tablet' , max){
	 		font-size: 50px;
			line-height:50px;
			[data-sizex="colspan-1"] &{
				font-size: 30px;
				line-height:30px;
			}
	 	}
	}
	> ul {
	    //height: inherit;
	}
}
.gridster-mobile {
    min-height: 125px;
	.gridster-item{
	    margin: 0 !important;
	    padding: 8px;
    }
}
%arrowscard{
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
    margin-left: 3px;
    padding-top: 6px;
    text-align: center;
    font-size: 17px;
    padding-right: 2px;
    background: $white-color;
	@include square($card-arrows);
	@include rounded($card-arrows);
    @include mq('tablet-wide' , max){
    	@include square($card-arrows-tablet);
	    margin-left: 0px;
    	padding-top: 2px;
    	font-size: 10px;
    	vertical-align: top;
 	}
 	[data-sizex="colspan-1"] &{
		font-size: 11px;
	    padding-top: 4px;
		@include square(20px);
	}
    
}
.arrowUp, .arrow-up{
	@extend %arrowscard;
	@extend .glyphicon;
	@extend .color-green;
	&:after{
		@extend .glyphicon-arrow-up:before;
	}
}
.arrowDown, .arrow-down {
	@extend %arrowscard;
	@extend .glyphicon;
	@extend .color-red;
	&:after{
		@extend .glyphicon-arrow-down:before;
		
	}
}
.arrowLeft, .arrow-left {
	@extend %arrowscard;
	@extend .glyphicon;
	@extend .color-orange;
	&:after{
		@extend .glyphicon-arrow-left:before;
		
	}
}
.arrowRight, .arrow-right, .arrow-constinue, .arrow-constant {
	@extend %arrowscard;
	@extend .glyphicon;
	@extend .color-orange;
	&:after{
		@extend .glyphicon-arrow-right:before;
	}
}
.widget-target{
    z-index: 999;
    width: 100%;
    height: 100%;
}