//button 
button{
	box-shadow: none !important;
	cursor: pointer;
	&:focus{
		@extend .no-focus;
	}
}
.delete-btn{
	z-index: 99;
	&[disabled="disabled"]{
		//opacity: 0;
		//display: none;
	}
}
.button{
	&-default {
		display: inline-block;
	    padding: $padding-spaces;
	    background: $basic-color;
	    color: $white-color;
	    font-size: fontsize($font-h6);
	    @include rounded($radius-button);
	    @include border-all($basic-color);
	    @include transition(background-color 1s);
	    @extend .bold;
	    @extend .pointer;
	    &[disabled="disabled"]{
	    	cursor: not-allowed;
		    @include opacity(0.65);
		    &:hover{
		    	background: lighten($basic-color, 5%);
			}
	    }
	    &:hover{
	    	background: $blue-color;
		}
		&.dark{
			background: $default-color;
			color: $white-color;
			border-color: $dark-grey;
			&:hover{
		    	background: $dark-grey;
			}
			 &[disabled="disabled"]{
			 	background: $default-color;
		 	}
		}
	}
	&-icon{
	    background: $white-color;
	    color: $default-color;
		padding: $padding-spaces;
	    line-height: normal;
	    margin-left: 5px;
	    font-size: fontsize($font-h6);
        display: inline-block;
        vertical-align: middle;
	    @include border-all($border-color);
		@include rounded($radius-button);
		@extend .pointer;
	    min-height: 32px;
	    &-small{
	    	min-height: 28px;
	    	padding: $padding-spaces;
    	}
	}
	&-grid-icon{
		padding: 4px;
		color: $purple-color;
		text-align: center;
	    width: $full;
	    @extend .pointer;
	    .ui-grid-header &{
	    	color: $default-color;
    	}
	}
	&-power{
		border-radius: $full;
		display: block;
		font-weight: bold;
		@include square($small-icon);
		@include rounded($full);
		@include push--auto;
		text-align: center;
	}
	&OPEN {
		background-color: $basic-color;
	}
	
	&CLOSE {
		background-color: $error-color;
	}
	&-style{
		@include square(30px);
	    min-height: 30px;
    	font-size: 12px;
	    padding: 0;
		@include rounded($full);
		border: none;
		-webkit-box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2) !important;
		box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2) !important;
	}
}
.closeWindow{
	z-index: 10;
	right: 20px;
	@include mq('tablet-small' , max){
    	right: 0;
 	}
	@extend .side-top-right;
	button.close{
	    font-size: fontsize($font-h3);
	    font-family: "Arial";
        margin: $null;
        line-height: 0;
	    position: relative;
	    @include square($close-icon);
	    @include transition(all 0.3s);
	    @extend .pointer;
	    @extend .bold;
        span{
        	@extend .bold;
        	@include square($close-icon);
        	display: block;
        	font-family: "Arial";
        	color: transparent;
        	font-size: 0;
        	&:after, &:before{
        		content: "";
        		width: 20px;
        		height: 2px;
        		background: #000;
				display: block;
				position: absolute;
			    left: 18%;
    			top: 47%;
		        transform-origin: $half $half;
		         @include transition(background-color 0.5s);
    		}
        	&:after{
				@include rotate(45);
    		}
    		&:before{
    			@include rotate(-45);
        		
    		}
    		
    	}
    	&:hover{
			transform: rotate(359deg);
			display: block;
			&:before, &:after{
				//transform-origin: 0% 50%;
			}
		}
    }
}
.modal{
	.close{
	    @include square($close-icon);
	    background: $modal-close-color;
	    opacity: 1;
	    color: $white-color;
	    text-shadow: none;
	    border-radius: 100%;
	    padding: 0;
	    @include transition(all 0.3s);
	    @include scale(0);
	    z-index: 99;
        position: relative;
	    .modal-open &{
        	@include scale(1);
    	}
    	&:hover{
    		@include animation-name(round);
		    @include animation-duration(0.3s);
		    @include animation-iteration-count(1);
		    @include animation-timing-function(linear);
    	}
	}
}
.btn-grid-icon, .removeWidget{
	padding: 4px;
	color: $purple-color;
	text-align: center;
    width: $full;
    line-height: 1;
    @extend .pointer;
    .ui-grid-header-viewport &{
    	color: $default-color;
	}
}
.button-icon:hover
	.glyphicon-refresh{
		  @include animation-name(round);
		  @include animation-duration(1.7s);
		  @include animation-iteration-count(infinite);
		  @include animation-timing-function(linear);
	}
body input[type="submit"].button-default{
	 @extend .button-default;
	 width: auto;
     min-width: $button-login-width;
     line-height: 1;
}
.formLogin {
	button{
	    display: block;
	    width: 100%;
	    //background: rgba($white-color, 0.9);
	    font-size: 16px;
	    padding: 9px;
	    font-weight: 500;
	    @include rounded(50px);
	    cursor: pointer;
	    border: none;
	    color: $white-color;
		color: rgba(255, 255, 255, 0.8);
		background: #960606;
	}
}