//calendar
.datepicker{
	.ui-datepicker {
		 margin: auto;	
    	 padding: $null;
		 &.ui-datepicker-inline{
		 	min-width: $full;
		 	max-width: $full;
	 	}
		.ui-datepicker-header {
		    color: $default-color;
		    background: $basic-color;
		    @extend .bold;
		    .ui-datepicker-title{
		    	line-height: fontsize($font-h4);
	    	}
	    }
	    .ui-datepicker-group {
	    	@include border-round(2px, 2px, 0, 0);
		    width: $third;
		    @include mq('tablet-wide' , max){
				width: $half;
		 	}
		    @include mq('tablet' , max){
				width: $full;
		 	}
		    min-height: $calendar-height;
		    padding: 0 4px;
		    .ui-datepicker-next, .ui-datepicker-prev{
		 		@extend .hide;
	 		}
		 }
		table {
		    background: $calendar-color;
		    width: $full;
		    height: 184px;
		    margin: 0;
			th {
			    color: $font-calendar-head-color;
			    text-shadow: 0 1px 0 rgba($white-color, .75);
			    border: none;
			    border-bottom: 1px solid $calendar-border-color;
			    background: $basic-blend-color;
		    	@extend .bold;
		    	@extend .uppercase;
		    	font-size: fontsize($font-h6);
		    	padding: 3px;
				text-align: center;
			    
			}
			td  {
				span, a{
					background: transparent;
				    border: none;
				    text-align: center;
				    @extend .regular;
				    color: $font-default-color;
				    font-size: fontsize($font-small);
				    line-height: $font-h6;	
				}
				a{
					@include square($calendar-date-size);
					margin: 0 auto;
					padding: 3px 0 0;
					border-radius: $full;
				    &.ui-state-active {
					 	@include rounded($half);
					 	@extend .bold;
					    background: $default-color;
					    color: $white-color;
					}
					&:hover {
					    background: $grey-background;
					    color: $font-default-color;
					}
			    }
				
				&.cssDaygreen a{
					@include border-all($basic-color);
				}
				&.cssDayred a {
					@include border-all($error-color);
			    }
			}
			
		}
	}
	[class*="calendarGrayButton"]{
	    @include square($calendar-button-size);
	    cursor: pointer;
	    background-repeat: no-repeat;
	    @include mq('tablet' , max){
	     	display: none
	 	};
	}

	#calendarGrayButtonsTemplate{
		text-align: right
	}
	.calendarGrayButton{
		&Next {
		     @extend %calendar-arrow-next;
		     @extend .side-center-right;
		    background-repeat: no-repeat;
		    margin-right: $calendar-button-space;
		     
	    }
	   &Prev {
		    @extend %calendar-arrow-prev;
		    @extend .side-center-left;
		    margin-left: $calendar-button-space;
		}
	}
}

.ui-datepicker{
	.ui-datepicker-header a {
		@extend .pointer;
		span{
			width: $full;
		    height: $full;
		    background-position: center center;
		    top: $null;
		    left: $null;
		    margin: { 
		    	left: $null;
		   		top: $null;
	   		}
	    }
	    &.ui-datepicker-prev {
	    	left: 1px;
		    top: 1px;
	    	span{
			 	@extend %datepicker-arrow-prev;
			 }
		}
		&.ui-datepicker-next {
			right: 1px;
		    top: 1px;
			span{
				@extend %datepicker-arrow-next;
			}
		}
	}
}
.datePickerHistorical {
	@extend .side-bottom-center;
    width: $full;
    font-size: fontsize($font-small);
    .button-icon{
    	@include border-round(0, 20px, 20px, 0);
    	height: $input-height;
    }
}
 .uib-datepicker-popup {
 	&.dropdown-menu{
 	    background: $white-color;
    }
   .uib-weeks{
   		td:first-child{
			    border-right: 1px solid $calendar-border-color;
			}
   	}
	button.btn{
		&:focus{
			@extend .no-focus;
		}
		&.btn{
			&-default {
			    color: $default-color;
			    background-color:  $white-color;
			    //border-color: $calendar-border-color;
			}
			&-success, 
			&-success:hover, 
			&-success:active, 
			&-success:focus {
				color: $white-color;
				background-color: $basic-color;
				border-color: $basic-color;
				float: right;
			}
			&-danger, 
			&-danger:hover, 
			&-danger:focus, 
			&-danger:active {
				color: $white-color;
				background-color: $default-color;
				border-color: $default-color;
				margin-left: 5px;
			}
			&-info, 
			&-info:hover, 
			&-info:focus, 
			&-info:active,
			&-info.active, 
			&-info.active:hover, 
			&-info.active:focus, 
			&-info.active:active {
				color: $white-color;
				background-color: $default-color;
				border-color: $default-color;
			}
		}
	}
	@include mq('tablet-wide' , max){
		.ui-grid &{
	    	top: 27px !important;
	    }
	}
}
.ui-grid table.uib-daypicker{
	width: auto;
	background: $calendar-color;
	td {
	    padding: 0;
	}
}
.calenDiv {
    min-height: $calendar-height;
     @include mq('tablet' , max){
	    max-width: 300px;
    	margin: auto;
 	}
}
.uib-button-bar {
    padding: 6px;
}