
.nv-group {
    fill-opacity: 1 !important;
}
.nvd3 .nv-axis {
    fill: #9fa2a7;
}
.tick line {
    display: none;
}
.nv-pieLabels text{
    text-anchor: middle !important;
}
.nvd3 .nv-axis.nv-x path.domain {
  stroke-opacity: 1;
}