/* dropdown */
.dropdown-menu {
	padding: 0;
	background: $grey-background;
	text-shadow: none;
	display: none;
	@extend .pointer;
	.open & {
		display: block;
	}
}
.dropdownList{
    max-height: 150px;
    overflow-y: auto;
}
.dropdown {
	@extend %no-focus;
	.btn {
		height: $input-height;
		@include linear-gradient(top, bottom, rgba($white-color, 0),rgba($black-color, 0.06));
		@extend .bg-group;
		@extend .no-padding;
		@extend .pointer;
		//@include box-shadow(0 ,1px ,1px, rgba(0, 0, 0, 0.08));
		font-size: fontsize($font-h6);
		text-shadow: 0 1px $white-color;
		overflow: hidden;
		.ui-select-match{
			&:focus{
				@extend %no-focus;
			}
			.ui-select-match-text{
			    display: block;
		        padding-right: 0;
				span {
				    width: $full;
					font-size: fontsize($font-h6);
					line-height: 23px;
					display: block;
					padding: 0;
					z-index: 9;
	    			position: relative;
				}
				td{
					@extend .no-padding;
					span {
						@extend .no-padding;
					}
				}
			}
		}
	 	.ui-select-placeholder	{
	 		width: $full;
			font-size: fontsize($font-h6);
			display: block;
			color: $default-color !important;
	 	}
		.caret {
		    top: 0;
		    right: 0;
		    height: $input-height;
		    width: 30px;
		    @include linear-gradient(top , bottom, transparent, rgba($black-color, 0.06), $stop: 100%);
		}
		&:before, &:after {
			content: '';
			position: absolute;
			z-index: 2;
			top: 9px;
			right: 10px;
			width: 0;
			height: 0;
			border: 4px dashed;
			border-color: #888 transparent;
			pointer-events: none;
		}
		
		&:before {
			border-bottom-style: solid;
			border-top: none;
		}
		
		&:after {
			margin-top: 7px;
			border-top-style: solid;
			border-bottom: none;
		}
	}
	
}
.ui-select-bootstrap{
	 .ui-select-search-hidden{
		@extend .hide;
	}
	.ui-select-match-text{
	    padding-right: 19px;
    	display: block;
	}
	span{
		font-size: fontsize($font-h6);
		line-height: 1.7;
		position: relative;
	    z-index: 9;
	    .ui-select-refreshing{
	    	padding: 1px 27px;
    	}
	}
	.ui-select-choices-row.active>span {
		background-color: $basic-color;
	}
}
.dropdown-select {
	position: relative;
	margin: 0;
	height: 28px;
	line-height: 14px;
	font-size: fontsize($font-h6);
	color: $default-color;
	text-shadow: 0 1px $white-color;
	background: $drop-down-background;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
}
