//inputs
%filter-head{
	height: $filter-input-height;
	background: $white-color;
	@include rounded($radius-button);
	@include border-all($table-border-color);
}
input:-webkit-autofill{
	&,
	&:hover,
	&:focus,
	&:active{
		transition-delay: 9999s;
		transition-property: background-color, color;
	}
}
input{
	font-family: $font-family;
	&:not([type="radio"]):not([type="checkbox"]),
	&[type="text"], 
	&[type="search"],
	&[type="email"],
	&[type="password"]{
	    @extend .bg-group;
	    font-size: fontsize($font-h6);
	    height: $input-height;
	    line-height: 23px;
	    color: $default-color;
	    width: $full;
	    .ui-grid-cell-contents &{
	    	max-height: $cell-height;
    	}
	    &:focus{
	    	@extend %no-focus;
    	}
	    .formLogin &{
			&:not([type="submit"]){
				border: none;
				font-size: fontsize($font-label-login);
				@include rounded($null);
				height: 45px;
				border-bottom: 1px solid $calendar-border-color;
				padding-left: 0;
	    		background: transparent;
	    		color: $white-color;
				@include box-shadow(0, 0, 0, rgba($black-color, 0));
				@include input-placeholder{
				    font-style:italic;
				    color: $white-color;
				    font-weight:100;
				};
			    
		    	& ~ label{
	    		    color: $label-placeholder-color;
	    		    position: absolute;
				    pointer-events: none;
				    left: 0;
	    			top: 65px;
			        font-size: fontsize($font-label-login);
			        @include transition(all 0.3s);
	    		}
	    		& ~ .bar{
	    		    height: 2px;
					width: 0;
					@extend .side-bottom-center;
					background: $basic-color;
					@include transition(all 0.3s);
					
	    		}
	    		&:not(:empty), &.ng-not-empty{
		    		& ~ label{
		    			top: 15px;
		    			font-size: fontsize($font-label-login-hover);
		    		}
		    	}
	    		&:focus, &:valid{
					& ~ .bar{
						width: $full;
		    		}
		    		& ~ label{
		    			top: 15px;
		    			font-size: fontsize($font-label-login-hover);
		    		}
		    	}
		    }
		}
	}
	.ui-grid div.ui-grid-cell &{
		height: 22px;
	    border: none;
	    border-radius: 0;
	    background: $white-color;
	}
	&.ui-grid-filter-input{
		.ui-grid .ui-grid-header &{
			@extend %filter-head;
		    font-size: $font-small;
		}
	}
	&.form-input{
	    height: $calendar-input-height;
	    .input-group &{
	    	@include border-all($grey-color);
    		box-shadow: none;
    	}
	}
	.ui-grid-pager-panel &{
		width: auto !important;
	}
	.ui-grid-pager-panel &{
		background-color:$white-color;
		@include border-all($grey-color);
		@include box-shadow(0, 0, 0, rgba($black-color, 0));
		@include transition(border linear .2s, box-shadow linear .2s );
		@include rounded(3px !important);
		padding: $padding-spaces;
		font-size: fontsize($font-h6);
		line-height: 20px;
		display: inline-block;
		vertical-align: middle;
	    height: $input-height;
	}
	.input-group &{
		.form-control {
			background-color:$white-color;
			@include border-all($grey-color);
			@include box-shadow(0, 1px, 2px, rgba($black-color, 0.2));
			@include transition(border linear .2s, box-shadow linear .2s );
			@include rounded($radius-button);
			padding: $padding-spaces;
			font-size: fontsize($font-h6);
			line-height: 20px;
			display: inline-block;
			vertical-align: middle;
		    min-height: $calendar-input-height;
		}
	}
}
.form-control-feedback{
    position: absolute;
    right: 0;
    padding: 6px 26px 0 0;
    input[type="password"].ng-empty + &{
    	display: none;
	}
	.content-login & {
	    position: absolute;
	    right: 0;
	    padding: 6px 12px 0 0;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    height: 21px;
    }
}
 textarea{
 	min-height: $textarea-height;
}
 textarea, select{
 	.ui-grid-cell-contents &{
    	max-height: $cell-height;
	}
 	@extend input;
 	&.multiple-select{
 		min-height: $textarea-height;
 		option:checked {
		    background-color: $basic-color;
		    color: $default-color;
		}
	}
	&.ui-grid-filter-select{
		.ui-grid .ui-grid-header &{
			@extend %filter-head;
		}
	}
	.ui-grid-pager-panel &{
		width: auto !important;
	}
}
.form-title {
	font-size: fontsize($font-p);
	color: $default-color;
	@extend .uppercase;
	@extend .bold;
}
.help-block {
    font-size: $font-small;
    color: $red-color;
    margin-left: 5px;
}
/* **********************************MESSAGE ERREUR********************************************************************** */
.bg-red, .callout.callout-danger, .label-danger, .modal-danger .modal-body {
	background-color: $error-color !important;
	color: $white-color !important;
	padding: 5px !important;
    border-bottom: 1px solid $border-color !important;
    @include rounded($radius-button);
    font-size: fontsize($font-h6);
    display: block;
}
//spinner
.ui-spinner{
	@extend .relative;
	display: block;
    min-height: $input-height;
    max-width: $spinner-width;
    margin: auto;
	.ui-button.ui-spinner-button{
	    display: block;
        position: absolute;
	    width: 17px;
	    height: 13px;
	    right: 11px;
	    top: 1px;
	    text-align: center;
	    background: $group-background;
     	&:last-child{
 		    top: 14px;
    	}
	}
	input#alertThreshold {
		padding-right: 30px;
	}
}
.ui-icon-triangle-1-n{
	@include css-triangle($default-color, up, $size: 4px, $position: absolute, $round: false);
    margin-top: 6px;
    margin-left: 4px;
}
.ui-icon-triangle-1-s{
	@include css-triangle($default-color, down, $size: 4px, $position: absolute, $round: false);
    margin-top: 3px;
    margin-left: 4px;
}


