
html {
	font-size: $full;
	body{
		font-size: fontsize($font-basic-size);
		font-size: $font-basic-size;
		font-family: $font-family;
		font-weight: 400;
		color: $font-basic-color;
	    min-height: $full-height;
		// overflow: hidden;
		height:100vh;
		@include mq('tablet' , max){
			//background: url(#{$assetPath}/background.png) no-repeat scroll $half $half/$full $full !important;
	 	}
		.content {
	        padding-bottom: 28px;
		    //min-height: $full-height;
		    @include mq('tablet' , max){
	    	    padding-bottom: 42px;
		 	}
		    @include mq('tablet-small' , max){
				 padding-bottom: 0;
		 	}
		}
	}
}
.leftContentLogo{
	position: absolute;
	left: $null;
	width: $logo-width;
	@include mq('tablet-wide' , max){
		width: $logo-width-mobile;
 	};
 	@include mq('tablet' , max){
	    left: 10px;
	    top: -10px;
	    width: $logo-height;
    	height: $logo-width-mobile;
 	};
	top: $header-height;
	.logo {
	    width: $full;
	    height: $logo-height;
	    position: relative;
	    background-repeat: no-repeat;
	    background-position: top center;
	    @include mq('tablet' , max){
	    	height: $full;
	 	};
	}
}
.title {
	font-size: fontsize($font-small);
}
.window-height{
	min-height: $full-height;
}
.content-login{
	height: $full-height;
	
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		&>div{
			height: 530px;
		}
	}
}
.full-height{
	height: $full;
}


.navbar-toggler{
	& , &:focus{
		border:none;
		cursor: pointer;
		position: relative;
	}
    width: 30px;
	height: 40px;
	padding: 0;
	margin: 11px 0 0;
}
.navbar-toggler-icon {
	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 50%;
		background: #ffffff;
		opacity: 1;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		&:nth-child(even) {
			left: 50%;
			border-radius: 0 9px 9px 0;
		}
		&:nth-child(odd) {
			left:0px;
			border-radius: 9px 0 0 9px;
		}
		&:nth-child(1), &:nth-child(2) {
			top: 0px;
		}
		&:nth-child(3), &:nth-child(4) {
			top: 11px;
		}
		&:nth-child(5), &:nth-child(6) {
			top: 22px;
		}
		.navbar-toggler:not(.collapsed) &{
			&:nth-child(1), &:nth-child(6) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:nth-child(2), &:nth-child(5) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
			&:nth-child(1) {
				left: 1px;
				top: 7px;
			}
			
			&:nth-child(2) {
				left: calc(50% - 4px);
				top: 7px;
			}
			
			&:nth-child(3) {
				left: -50%;
				opacity: 0;
			}
			
			&:nth-child(4) {
				left: 100%;
				opacity: 0;
			}
			
			&:nth-child(5) {
				left: 2px;
				top: 17px;
			}
			
			&:nth-child(6) {
				left: calc(50% - 4px);
				top: 17px;
			}
		}
	}
}
.logo{
	height: 44px
}
header{ 
	ul.menu li{
		@include transition(all 0.3s);
		position: relative;
		&:hover{
			background: rgba($black-color, 0.1);
		}
		
		 a{
		 	position: relative;
			padding: 10px 0;
			display: block;
			&:not([href]):not([tabindex]){
	    		color: #ffffff;
			}
			&:hover:after{
			 	width: $full;
		 	}
		 	@include mq('tablet' , max){
		    	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		 	};
		}
		&:after, a:after{
			@include pseudo();
			@extend .side-bottom-center;
			@include transition(all 0.3s);
			height: 4px;
			background: $white-color;
			width: 0;
			bottom: -1px;
		}
		&.active, .active{
			font-weight: bold;
			&:after{
				width: $full;
			}
		}
	}
	.dropdown-menu.dropdown-menu-right{
		left: auto;
		right: 0;
		li {
			&+ li{
				border-top: 1px solid $blend-grey;
			}
		}
		li:hover {
			background: $blue-color;
			a{
				&:after{
					bottom: 0;
				}
				span{
					color: $white-color;
				}
			}
		}
	}
}
footer{
	font-size: $font-small;
	line-height: 1.6;
	padding: $padding-spaces;
	background: #fff;
    color: #444;
    border-top: 1px solid #d2d6de;
}
.footer-index{
	z-index: 999;
	@include mq('tablet-small' , max){
	    position: relative;
    	margin: 0 -15px;
 	}
}
.no-padding{
	padding: $null;
}
.w-30{
	width: 30px;
}
.no-margin{
	margin: $null;
}
.hide{
	display: none;
}
.pointer{
	cursor: pointer;
}

%no-focus, .no-focus, :focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: $border-color !important;
}
.grid, td, label {
	font-size: fontsize($font-h6);
}
.graph-height{
	min-height: 253px;
    @include mqh( 'tablet' ){
		//max-height: 500px;
 	}
	height: $graph-height;
	.grid{
	    height: calc(100% - 0.6rem ) !important;
	}
}
.fullheight-content{
    height: $window-content-height;
}
.fullheight-grid {
	height: $grid-content-height;
}
.block-center > *{
	margin: auto;
}
.disable{
	cursor: not-allowed;
	opacity: 0.75;
	pointer-events: none;
	
}
.page-title{
	color: $basic-color;
    margin: 0;
    @extend .regular;
    font-size: 25px;
    &.title-position{
	    margin-top: -42px;
	    color: #fff;
		&:after{
			background: #ffffff;
		}
   	}
    @include mq('tablet' , max){
		font-size: $font-h5;
	}
    text-align: center;
    position: relative;
    &:after{
    	@include pseudo(block , relative);
    	@include transition(all 0.3s 0.5s);
    	height: 4px;
		background: $basic-color;
		width: 40px;
        margin: auto;
        margin-top: 1px;
       
	}
	
}
.elementCenter{
	margin: auto;
	text-align: center;
    display: block;
}
.right-bordred{
    border-right: 1px solid $grey-color;
    @include mq('tablet' , max){
    	 border-right: 0px solid $grey-color;
 	};
}

//directions
$directions: left, right, top,bottom;

 @each $direction in $directions{
 	.bordred-#{$direction}{
 		@include border($direction, 1px , solid , $border-color);
 		@include mq('tablet' , max){
	    	 @include border($direction, 0px , solid , $border-color);
	 	};
 	}
}
ul{
	@extend .no-padding;
	@extend .no-margin;
}
li{
	display: block;
}
section{
	@extend .relative;
}
a{
	cursor: pointer;
	@include transition(all 0.3s);
	&:hover{
		text-decoration: none;
		color: #20B4E9;
	}
}
.no-border{
	border: none !important;
}

.height-section{
	min-height: $section-height-quotation;
	max-height: $section-height-quotation;
}

[ng-style="{height: heightGraph}"]{
    min-height: 253px;
    @include mqh( 'tablet' ){
		max-height: 500px;
 	}
}
.height-section .ui-grid{
	max-height: $grid-height-quotation;
	height: $grid-height-quotation;
}
[ng-style="{height: heightSection}"]:not(.height-section){
    min-height: fit-content;
}
abbr[title], abbr[data-original-title]{
	text-decoration: none;
}
[disabled="disabled"]{
	opacity: 0.75;
    cursor: not-allowed;
}
.alert-danger {
    font-size: 13px;
}