.growl-container.growl-fixed{
	    position: fixed;
	    z-index: 9999999;
	    height: auto;
	    right: 10px;
	    bottom: 25px
	    ;
	.growl-item{
		width: 300px;
		height: auto;
	    margin-top: 10px;
	    &.icon{
	    	@include rounded(0);
	    	&.alert-success, &.alert-success:hover{
	    		    background-color: $success-color;
			}
			&.alert-danger, &.alert-danger:hover{
				background-color: $warning-color;
			    border-color: $warning-color;
		    }
		}
		.growl-title{
		    font-size: 16px;
		    font-weight: 600;
		}
	    .growl-message{
	    	font-size: 12px;
		}
	}
	//
	.formLogin &{
		 button.close {
		   width: 28px;
		    height: 28px;
		    padding: 0;
		    opacity: 01;
		    position: absolute;
		    right: -10px;
		    top: -14px;
		    line-height: 0; 
	    }
	}
}