.bg-general{
	 background: url(#{$assetPath}/background.jpg) no-repeat;
	 background-size:  cover;
	 //background: none;
}
.logo {
   // background-image: url(#{$assetPath}/logoNeo.png);
   background: none;
     @include mq('tablet' , max){
		// background-image: url(#{$assetPath}/logo_min_page.png);
		background: none;
 	}
}
%booked {
	background-image: url(#{$assetPath}/booked.svg);
}
//menu icons
.icon-shield {
  background-image: url(#{$assetPath}/security-badge.svg);
}
	
.icon-tab {
  //  background-image: url(#{$assetPath}/tab.svg);
  background: none;
}
.icon-params {
	// background-image: url(#{$assetPath}/gear.svg);
	background: none;
}
.icon-logout {
	background-image: url(#{$assetPath}/logout.svg);
	
}
//table
.icon-club {
  background-image: url(#{$assetPath}/club.svg);
}
.icon-authentic {
 background-image: url(#{$assetPath}/authentic.svg);
}
.ic-up {
  	background-image: url(#{$assetPath}/ic_up.svg);
}
.ic-down {
 	background-image: url(#{$assetPath}/ic_down.svg);
}
.ic-flat{
 	background-image: url(#{$assetPath}/ic_flat.svg);
}
.icon{
	&Watch {
	//	background-image: url(#{$assetIcon}/montre.png);
	background: none;
	}
	
	&WatchDISABLED {
	//	background-image: url(#{$assetIcon}/montre-disabled.png);
	background: none;
	}
	
	&Check {
	//	background-image: url(#{$assetIcon}/checked.svg);
	background: none;
	}
	
	&NotValidMission {
	//	background-image: url(#{$assetIcon}/notValidMission.png);
	background: none;
	}
	
	&CheckDISABLED {
	//	background-image: url(#{$assetIcon}/checked-disable.svg);
	background: none;
	}
}

%logomob{
	//background: url(#{$assetPath}/background.png) no-repeat scroll $half $half/$full $full !important;
	background: none;
}
%calendar-arrow-next{
	//background: url(#{$assetPath}/calendarGrayButtonNext.png);
	background: none;
}
%calendar-arrow-prev{
	//background: url(#{$assetPath}/calendarGrayButtonPrev.png);
	background: none;
}
%datepicker-arrow-next{
	//background-image: url(#{$assetIcon}/calendar-arrow-right.png);  
	background: none;
}
%datepicker-arrow-prev{
	//background-image: url(#{$assetIcon}/calendar-arrow-left.png);  
	background: none; 
}
%datepicker-arrow-next{
	//background-image: url(#{$assetIcon}/calendar-arrow-right.png); 
	background: none; 
}
%slider{
	//background: url(#{$assetPath}/location.png) no-repeat;
	background: none;
}
%arrowUp {
	//background: url(#{$assetPath}/arrowUp.png);
	background: none;
}
%arrowDown {
	//background: url(#{$assetPath}/arrowDown.png);
	background: none;
}
.administrator {
  background-image: url(#{$assetIcon}/administrator.png);
  //background: none;
    @include square($medium-icon);
    background-repeat:  no-repeat;
    display: inline-block;
    vertical-align: bottom;
}
.defaultProfile {
   background-image: url(#{$assetIcon}/user-silhouette.png);
   //background: none;
   @include square($medium-icon);
    background-repeat:  no-repeat;
    display: inline-block;
    vertical-align: bottom;
}
.iconNotDefaultProfile {
   // background-image: url(#{$assetIcon}/notValidMission.png);
   background: none;
}
//icons
.icon{
    @extend .pointer;
    @include square($menu-icon);
    @include rounded($full);
    background-size: 68%;
    background-position: center center;
    background-repeat:  no-repeat;
    display: block;
    &:hover{
    	opacity: 0.75;
	}
}
.icon-big{
    @extend .pointer;
    @include square(33px);
    @include rounded($full);
    background-size: 68%;
    background-position: center center;
    background-repeat:  no-repeat;
    display: block;
    &:hover{
    	opacity: 0.75;
	}
}
.grid-icon {
	display: block;
	font-weight: bold;
	text-align: center;
	color: $white-color;
	@include square(20px);
    background-size: contain;
    margin: 5px auto;
}
.trend-icon{
	display: block;
	font-weight: bold;
	text-align: center;
	color: $white-color;
	@include square(22px);
    background-size: contain;
    margin: auto;
}
.img-grid .trend-icon{
	 margin: -5px auto 0;
}
.icon-sign:not(:empty){
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    @include square($small-icon);
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.iconCSV {
    background: url(#{$assetPath}/iconCSV.svg);
    background-repeat: no-repeat;
    @include square($small-icon);
    cursor: pointer;
    display: block;
    background-size: contain;
    background-position: center center;
}
.iconCSV-white {
    background: url(#{$assetPath}/iconCSV-white.svg);
    background-repeat: no-repeat;
    @include square(19px);
    margin: 1px;
    cursor: pointer;
    display: block;
    background-size: contain;
    background-position: center center;
}
.bootstrap-duallistbox-container .glyphicon-arrow-right:before {
    content: "\e258";
    margin-right: -11px;
}
.bootstrap-duallistbox-container .glyphicon-arrow-left:before{
    content: "\e257";
    margin-left: -11px;
}