.loaderContent{
	@extend .side-center;
	position: fixed;
    background: rgba($white-color , 0.5);
    z-index: 999;
     @include square( $full);
     display: none;
     .loaderContent-section &{
		position: absolute;
		background: $blend-grey;
 	}
}
.loaderContent-section{
	@extend .side-center;
	position: absolute;
	background: $blend-grey;
    z-index: 999;
     @include square( $full);
     display: none;
}
.load {
	@extend .pos-center;
	z-index: 999;
	 @include rounded($full);
	  @include animation-name(round);
	  @include animation-duration(1.7s);
	  @include animation-iteration-count(infinite);
}
.loader {
  color: $default-color;
  font-size: 90px;
  width: 1em;
  height: 1em;
  display: block;
  @include rounded($full);
  @include animation-name(loading);
  @include animation-duration(1.7s);
  @include animation-iteration-count(infinite);
  @extend .pos-center;
}



.loadersection {
	width: 0;
	height: 0;
	//animation: anim-rotate $duration infinite ease;
	@include animation-name(anim-rotate);
	@include animation-duration($duration);
	@include animation-iteration-count(infinite);
    @include animation-timing-function(ease);
  /* Variations */
  //animation: anim-rotate $duration infinite linear;
  //animation: anim-rotate $duration infinite cubic-bezier(.1,.3,.3,.1);
  //animation: anim-rotate $duration linear infinite alternate;
  //animation: anim-rotate 0 infinite;
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: $ball-size;
    height: $ball-size;
    top: 50%;
    left: 50%;
    margin-top: -$ball-size/2;
    margin-left: -$ball-size/2;
    border-radius: $ball-size/2;
    opacity: .9;
  }
  
  &::before {
    background: $color-1;
    transform: translate(-$jump, -$jump) 
               scale(1);
    box-shadow: $diam $diam 0 $color-2;
    animation: anim-1-2 $duration infinite ease;
  }
  
  &:after {
    background: $color-3;
    transform: translate($jump, -$jump) 
               scale(1);
    box-shadow: -$diam $diam 0 $color-4;
    animation: anim-3-4 $duration infinite ease;
  }
}

@keyframes anim-1-2 {
  50% {
    transform: scale(1.3) translate(0, 0);
    box-shadow: 0 0 0 $color-2;
    opacity: .8;
  }
}

@keyframes anim-3-4 {
  50% {
    transform: scale(1.3) translate(0, 0);
    box-shadow: 0 0 0 $color-4;
    opacity: .8;
  }
}

@keyframes anim-rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(720deg); }
}

@include keyframe(loading) {
    0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    -ms-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    -ms-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    -ms-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    -ms-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    -ms-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    -ms-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@include keyframe(round) {
     0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
  }
}
