.nav-dropdown{
	position: relative;
	.menu-group{
		width: $menu-dropdown-width;
		display: none;
		position: absolute;
		left: $position-left-menu;
		right: $null;
		margin: auto;
		
		background-color: $basic-background;
		z-index: 99;
		padding: 5px 10px 10px;
		font-size: fontsize($font-h6);
		border:{
			width: 1px 0 1px 1px;
			style: solid;
			color: rgba($black-color, 0.09);
		};
		@include rounded($radius-button);
		@include box-shadow( 0, 10px, 10px, $shadow-menu-color);
		span{
			display: block;
			@include border(bottom, 1px, dotted, $default-color);
			font-weight: bold;
			padding: 5px;
		}
		ul{
			margin: 0;
			li {
				color: $default-color;
				font-size:  fontsize($font-p);
				height: auto;
				margin-top: 5px;
				vertical-align: middle;
				display: block;
				cursor: pointer;
				&:hover {
					background: $hover-menu;
				}
			}
		}

	}
}