
@include mq('tablet' , max){
	.height-mobile-auto{
		height: auto !important;
	}
	.minHeight{
		min-height: 330px;
    	max-height: initial;
    	&.height-section{
    		height: auto !important;
		}
	}
	.full-height{
		height: auto;
	}
	.hide-mob{
		display: none;
	}
	body .no-bg-mobile{
		background: none !important;
	}
	header{
	    position: relative;
    }
   
	
}