.fade.in.modal-backdrop{
    filter: alpha(opacity=70);
    opacity: .7;
}
.modal-backdrop{
	background: rgba($white-color, 0.85);
}
.fade.in{
	opacity: 1;
}
.modal{
	&.modal-backdrop{
	    filter: alpha(opacity=70);
	    opacity: .7;
	}
	&.fade .modal-dialog {
	    -webkit-transform: translate(0, 0);
	    transform: translate(0, 0);
    }
   .modal-dialog {
	    width: 90% !important;
    	max-width: 600px !important;
        min-width: 310px;
        margin: auto !important;
    	max-height: fit-content;
		@extend .side-center;
	   .modal-header {
		    padding: $space-modal-header;
		    display: block;
	    	border: none;
		    .modal-title, h3, h4 , h5.modal-title {
			    @extend .page-title;
			     &:after{
					width: 0;
					margin-top: 4px;
			        .modal-open &{
			        	width: 40px;
			    	}
				}
			}
		}
	 	.modal-body-content {
	 		text-align: center;
 		    padding: $space-modal-body;
	 	}
	 	
		.modal-content{
			width: $full;
		    border: none;
		    border-radius: 0;
		    border-bottom: 4px solid $white-color;
		    -webkit-box-shadow: 0 0 16px 5px rgba($black-color,0.02);
		    box-shadow: 0 0 16px 5px rgba($black-color,0.2);
		    &:after{
		    	@include pseudo();
		    	@include transition(all 0.3s 0.5s);
		    	left: 0;
		    	right: 0;
		    	margin: auto;
		    	width: 0;
	    	    bottom: -4px;
    			height: 4px;
				background: $blue-color; 
				background: -moz-linear-gradient(left, $blue-color 0%, $red-color 37%, #ffd60c 74%,  $green-color 100%);
				background: -webkit-linear-gradient(left, $blue-color 0%,$red-color 37%,#ffd60c 74%,  $green-color 100%); 
				background: linear-gradient(to right, $blue-color 0%,$red-color 37%,#ffd60c 74%,  $green-color 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0db9f0', endColorstr='#92c50f',GradientType=1 ); 
				.modal-open &{
		        	width: 100%
	        	}
	    	}
		    
		}
	    table{
			width: $full;
			td{
				padding: 5px;
				vertical-align: middle;
			}
		}
		fieldset {
			@include border-all($border-color);
			width: $full;
			legend {
				width: auto;
				font-size: fontsize($font-h6);
			}
		}
	}
}

.infoText {
	font-size: fontsize($font-h6);
	    width: $full;
}
.bootstrap-duallistbox-container button.btn {
    background: none;
}
.modal-open .content [ui-view="mainbody"], .modal-open .content header, .modal-open .content .footer-index{
	-webkit-filter: blur(1px); 
	filter: blur(1px);
}
/* ============================================================================================================================ */
.disabledInput{
	cursor: cursor;
	&[disabled]{
		cursor: no-drop;
	}
}
.h-popup-table .ui-grid{
    height: 300px !important;
}
