input, textarea, select, button {
	font-size: fontsize($font-basic-size);
}
//formulaire
.label{
	position: relative;
	font-size: $font-small;
	line-height: 1.5rem;
    margin-bottom: 0;
}

label {
	position: relative;
	font-size: $font-small;
	line-height: 1.5rem;
    margin-bottom: 0;
	&:before, &:after {
	    display: inline-block;
	    vertical-align: middle;
	    @include square($radio-checkbox);
	    @include box-shadow(0px, 1px, 1px, rgba($black-color,.4), true);
	    text-align: center;
		line-height: $lh-radio-button;
		margin-right: 3px;
		color: $basic-color;
		background: $white-color;
	    overflow: hidden;
	}
	.radio &{
		@extend .pointer;
        text-align: left;
	    &.selectedAlert:before{
	    	content: "\2022";
    	}
		&:before {
			content: "";
		    @include rounded($radius-checkbox);
		    font-size: $font-h3;
		    border-bottom: 1px solid $border-color;
		    .form-inline &{
	     	    margin: $padding-spaces;
		    }
		}
		
	}
	.checkbox & {
		margin-bottom: 0;
	    line-height: normal; 
        margin: 0 5px;
        @include mq('tablet-wide' , max){
			margin: 0 2px;
	 	}
        text-align: center;
        justify-content: left;
	   	&:after {
	   		content: "";
		    @include rounded($radius-button);
		    font-size: fontsize($font-h5);
		    line-height: $lh-checkbox-button;
	        display: block;
	        font-weight: bold;
            margin: 4px auto 0;
            border-bottom: 1px solid $border-color;
            .left-checkbox &{
	     	    display: none;
		    }
		   .form-inline &{
	     	    margin: $padding-spaces;
	     	        
		    }
		}
		.left-checkbox &{
			&:before {
				content: "";
			    @include rounded($radius-button);
			    font-size: $font-h5;
			    line-height: $lh-checkbox-button;
		        font-weight: bold;
	            margin: $padding-spaces;
	            border-bottom: 1px solid $border-color;
			}
    	}
   	}
}
.radio{
	input{
		@extend .hide;
		&:checked+label:before {
			content: "\2022";
		}
	}
}
.checkbox{
	input{
		@extend .hide;
		&:checked+label:after {
			content: "\2713";
		}
		.left-checkbox &{
			&:checked+label:before {
				content: "\2713";
			}
		}
	}
}