/* ******************************JAUGE*************************************** */
.rzslider {
    padding-top: 15px;
	.rz-bubble{
		font-weight: bold;
	    padding: 0 1px;
	    color: $white-color;
	    bottom: 22px;
        z-index: 11;
	    &.rz-limit {
		    color: $default-color;
		    bottom: 0;
		    visibility: visible !important;
		}
		&.rz-model-value{
			z-index: 11;
		    font-size: 12px;
		}
	}
	.rz-pointer {
		@extend %slider;
		height: 52px;
	    top: -34px;
        z-index: 10;
        outline: none; 
		 &,&:hover, &:focus, &:active{
			&:after{
				height: 10px;
			    left: 10px;
			    top: 46px;
			    width: 10px;
			    position: absolute;
			    background: $basic-color;
			    content: '';
			    @include rounded($half);
			}
		}
	}
	span {
	    z-index: 9;
	}
	.rz-bar {
	    background: $basic-color;
		&.rz-selection{
			background: $blue-color;
		}
	}
}