.nav-tabs>li{
	 @include mq('tablet' , max){
		max-width: $half;
	}
	&.active{
		&>a {
			&, &:hover, &:focus{
				background-color: $light-beige;
				font-weight: bold;
			}
		}
	}
	&>a {
	    font-size: fontsize($font-basic-size);
	    color: $default-color;
	    @include border-round(7px, 7px, 0, 0);
	    text-transform: uppercase;
	    outline: none;
	    @include truncate($full);
	    @include mq('tablet' , max){
			font-size: fontsize($font-small);
		}
    }
}