.tabGraph {
	border: 1px dotted $border-color;
	border-radius: 20px;
	table{
		table-layout: fixed;
		tr.header {
			font-weight: bold;
		}
		td{
			padding: 6px 3px;
			text-align: center;
			font-size: fontsize($font-h6);
			font-family: "DroidSans", sans-serif;
		}
	}
}
.ligne_verticale {
	border-left: 1px dotted $border-color;
    @extend .side-center-left;
    height: 90%;
}
.table-width-scroll{
    overflow: auto;
    max-width: 100%;
    .grid{
    	min-width: 1400px;
    	.ui-grid-viewport {
		    overflow-x: hidden !important;
		}
	}
}

//td
td{
	vertical-align: middle;
}
//data table
.ui-grid{
    border: 1px solid $table-border-color;
    background: $white-color;
    .ui-grid-header{
    	    @include border(bottom, 1px, solid,$table-border-color);
	     .ui-grid-top-panel{
	    	background: $table-background-header;
			.ui-grid-header-cell-wrapper{
			    min-height: $cell-height;
			    padding-right: 20px;
	    	    .ui-grid-header-cell{
	    	    	border-color: $basic-background;
	    	    	color: $table-color-text-header;
	    	    	text-align: center;
					vertical-align: middle;
			        position: static;
				    .btn-toolbar *:not(.tooltip){
						display: block;
						width: $full;
						line-height: 16px;
					}
		    	}
	    	}
			.ui-grid-invisible{
				@extend .hide;
			}
		}
	}
	table{
		height: $full;
		width: $full;
		table-layout: fixed;
		td{
			padding: 0 10px;
		}
	}
	.ui-grid-filter-container .ui-grid-filter-button-select .ui-grid-icon-cancel{
		height: 32px;
    	right: 25px;
	}
	.ui-grid-row{
		//height: $cell-height !important;
		&.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
		    background-color: $basic-background;
		}
		.ui-grid-cell {
		    //height: $cell-height !important;
	        border-color: $table-cell-border;
            //height: $cell-height;
		    @include border(bottom, 1px, dashed,$table-cell-border);
		    background-color: $white-color;
	    	&>div{
	    		padding: 5px 5px;
	    		//height: $cell-height;
	    		&.bg-grey{
			    	background-color: #f6f5f5;
		    	}
    		}  
// 		    .ui-grid-cell-contents {
// 			    padding: 0 !important;
// 			}
			&:last-child {
			    border-right: 0;
		    }
		   td:first-child{
			@include truncate($full);
		    padding: 0 10px;
		}
		}
	}
	.ui-grid-pinned-container .ui-grid-row .ui-grid-cell{
	    background: $table-pinned-color;
	    border-color: $table-pinned-border-color;
		border-bottom: 1px dashed $table-pinned-border-color;
	}
	.ui-grid-pager-panel{
	    background: $white-color;
	     @include border(top, 1px, solid,$table-border-color);
	     input{
	     	max-height: $input-pager-height;
	 	}
	}
}
.m-grid{
	margin-top: 1px;
}
.text-grid{
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
}
.text-grid-small{
	font-size: 14px;
    text-align: center;
    line-height: 14px;
}
.img-size img{
	width: auto;
    display: block;
    max-width: 100%;
    max-height: 20px;
}
.img-grid img{
    margin-top: -12px;
    margin-right: auto;
    width: 22px;
    margin-left: auto;
}
// .ui-grid-render-container{
//     background: #fbf9f6;
// }
.ui-grid-pinned-container-left{
    height: calc(100% - 48px);
    overflow: hidden;
    background: $table-pinned-color;
    .ui-grid-render-container{
    	background: $table-pinned-color;
	}
    .gridheight &{
		height: calc(100vh - 10px);
	}
    .ui-grid-canvas {
	 	margin-bottom: 20px;
     	padding-bottom: 20px;
	}
}
.gridheight .ui-grid-contents-wrapper {
    padding-bottom: 34px;
}
.gridheight .ui-grid-viewport{
    max-width: -webkit-fill-available;
}
.gridheight .ui-grid-render-container-body .ui-grid-header-canvas {
    padding-right: 20px;
    margin-right: 20px;
}
.fullheight-content .ui-grid-pinned-container ~ .ui-grid-render-container .ui-grid-cell-contents:after{
	content: "";
	height: 15px;
	width: 1px;
	display: block;
}
.fullheight-content .ui-grid-pinned-container ~ .ui-grid-render-container .ui-grid-cell-contents:before {
    content: "";
    height: 14px;
    width: 1px;
    display: block;
}
.imgStars {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 60%;
}
.star-button.button .material-icons {
    font-size: fontsize($font-h4);
}
.button:not(.star-button) .material-icons{
	@extend .hide;
}
.height-grid>div{
	max-height: 120px;
}
.ui-grid-cell .uib-datepicker-popup  td:first-child,
[ui-grid="gridOptionsResult"] .ui-grid-cell td:first-child{
	width: auto;
}
.z-table{
    z-index: 9;
}
.ui-grid-column-menu-button-last-col {
    margin-right: 0;
}
#quotationLines .ui-grid-viewport{
    overflow: visible !important;
}
.gridster-mobile {
    min-height: fit-content;
}