// .tooltip-inner {
//     color: $black-color;
//     background-color: $white-color;
//     opacity: 0.8;
//     white-space: nowrap;
// }
.side-top-right .tooltip{
	top: 100% !important;
	left: 0 !important;
}
.side-top-left .tooltip{
	top: 100% !important;
	right: 0 !important;
	left: auto !important;
}
.side-bottom-right .tooltip{
	bottom: 100% !important;
	left: 0 !important;
    top: auto !important;
}
.side-bottom-left .tooltip{
	bottom: 100% !important;
	right: 0 !important;
	left: auto !important;
    top: auto !important;
}