<gridster [options]="options">
  <gridster-item [item]="widget" *ngFor="let widget of widgets">
    <div class="drag-handler widget-header">
      <div class="item-buttons widget-header-buttons">
        <div class="float-left header-margin-left"></div>

      </div>
      <div class="float-right header-margin-right">
        <h4>
          <a class="widget-header-btn" (mousedown)="onClick_configureItem($event, widget)"
            (touchstart)="onClick_configureItem($event, widget)">
            <i class="fa fa-cog" aria-hidden="true"></i></a>

          <a class="widget-header-btn" (mousedown)="onClick_removeItem($event, widget)"
            (touchstart)="onClick_removeItem($event, widget)">
            <i class="fa fa-window-close" aria-hidden="true"></i></a>
        </h4>
      </div>
    </div>
    <div class="gridster-item-content" style="height: 100%; margin: 5px">

      <div *ngIf="widget.widgetContent.type ==='pieChart'">
        <app-pieChart></app-pieChart>
      </div>
      <div *ngIf="widget.widgetContent.type ==='lineChart'">
        <app-lineChart></app-lineChart>
      </div>
    
        <app-multi-chart *ngIf="widget.widgetContent.type ==='multiChart'"></app-multi-chart>
      
        <app-multi-bar-chart *ngIf="widget.widgetContent.type ==='multiBarChart'"></app-multi-bar-chart>
     
        <app-cards *ngIf="widget.widgetContent.type ==='card'"></app-cards>

      

    </div>

  </gridster-item>

</gridster>
<!-- 
<app-multi-chart></app-multi-chart>
<app-multi-bar-chart></app-multi-bar-chart> -->

<!-- 
<app-pie-chart></app-pie-chart> -->