gridster {
    height: 120vh;
    margin: 0;
    padding: 0;
    background-color: rgb(179, 177, 177);
  }
  
  :host {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
  }
  
  .gridster-container {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .top-btn-left {
    width: 150px;
    margin: 5px;
  }
  
  .top-btn-right {
    width: 350px;
    margin: 5px;
  }
  
  .widget-header {
    background-color: #eeeeee;
    cursor: move;
  }
  
  .widget-header-btn {
    cursor: default;
  }
  
  .header-margin-left {
    margin-left: 5px;
  }
  
  .header-margin-right {
    margin-right: 5px;
  }
  
  .widget-header-buttons {
    display: inline-block;
  }
  
  app-nomination-widget {
    height: 100%;
  }
  